@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
   height: 100%;
}

input {
   background: inherit;
}

* {
   transition: opacity 0.25s, background-color 0.25s, border 0.25s,
      box-shadow 0.25s;
}

input[type="checkbox"] {
   outline: none;
   padding: 2rem;
}
