@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
   background: rgb(108, 114, 127);
}

input {
   background: inherit;
}

* {
   transition: color 0.25s, opacity 0.25s, background-color 0.25s, border 0.25s,
      box-shadow 0.25s;
}

input[type="checkbox"] {
   outline: none;
   padding: 2rem;
}

/* Hide Calendar Icon In Chrome */
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
   display: none;
   -webkit-appearance: none;
}
